<div class="banner-container"  style="background:url(assets/images/emailcolumn/bannerbackground.jpg);">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 col-xs-12">
		<div class="banner-left">
		    <H2>SharePoint Email Column</H2>
		    <p class="lead">
			As an administrator, you can create an email column much easier now!
		    </p>
		    <p>
			<a target="_blank" href="download.html?installer=EmailField1.1.1.0.zip" class="btn">
			    <img src="assets/images/icon_download.png" />Download</a>
			<a href="sharepoint-email-field.html#purchase" class="btn btn-right">
			    <img src="assets/images/icon_buy.png" />Buy Now</a>
		    </p>
		</div>
	    </div>
	    <div class="col-md-6 hidden-xs hidden-sm">
		<div class="banner-right">
		    <img alt="SharePoint Field" src="assets/images/emailfield/banner.png" class="img-responsive" />
		</div>
	    </div>
	</div>
    </div>
</div>
