<div style="overflow: hidden; text-align:center;">
    <img src="assets/images/banner01.jpg" class="img-responsive"/>
</div>
<div class="carousel-caption">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12" style="padding-top:0.32rem;">
            <div class="banner-left">
		<H2>SharePoint Email Column</H2>
                <p class="lead">
		As an administrator, you can create an email column much easier now!
                </p>
                <p>
                    <a target="_blank" href="download.html?installer=EmailField1.1.1.0.zip" class="btn">
                        <img src="assets/images/icon_b01.png" />Download</a>
                    <a href="sharepoint-email-field.html#purchase" class="btn btn-right">
                        <img src="assets/images/icon_b02.png" />Buy Now</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2 xs_none">
            <div class="banner-right">
                <img src="assets/images/banner_01pic01.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
