<img src="assets/images/banner01.jpg" />
<div class="carousel-caption">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="padding-top:0.32rem;">
            <div class="banner-01">
		<a href="sharepoint-email-field.html">
                <div class="img_tips" style="margin-left: -15px;">
                  <img src="assets/images/banner_tips.png" class="img-responsive" />
                </div>
                <p>
                    <a target="_blank" href="download.html?installer=EmailField1.1.1.0.zip" class="btn btn_free ">
                        <img src="assets/images/icon_b01.png" />Download</a>
                    <a href="/sharepoint-email-field.html#purchase" class="btn btn_buy ">
                        <img src="assets/images/icon_b02.png" />Buy Now</a>
                </p>
		</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 xs_none">
	<a href="sharepoint-email-field.html">
            <div class="banner-right">
                <img src="assets/images/banner_01pic01.png" style="width:3.61rem;max-width: inherit;margin-left:2rem;"  class="img-responsive" />
            </div>
	</a>
        </div>
    </div>
</div>
