<div class="banner-container" style="background:url(assets/images/emailcolumn/bannerbackground.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="banner-left">
					<H2>Excel Tool for SharePoint</H2>
					<p class="lead">
						With this SharePoint solution, you can import the data in your Excel/CSV files into SharePoint lists.
					</p>
					<a target="_blank" href="https://appsource.microsoft.com/product/office/WA200007227?src=website">
						<img src="assets/images/MS_AppSource.png" style="width:206px" /></a>

				</div>
			</div>
			<div class="col-md-6 hidden-xs hidden-sm">
				<div class="banner-right">
					<img alt="SharePoint Field" src="assets/images/excelimport/banner.png" class="img-responsive" />
				</div>
			</div>
		</div>
	</div>
</div>