<div class="banner-container"  style="background:url(assets/images/emailcolumn/bannerbackground.jpg);">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 col-xs-12">
		<div class="banner-left">
		    <H2>SharePoint Excel Import</H2>
		    <p class="lead">
			    With this SharePoint add-in, you can import the data in your excel files into SharePoint lists.
		    </p>
		    <p>
			<a target="_blank" href="https://appsource.microsoft.com/en-us/product/office/WA104381417?tab=Overview" class="btn btn-right">
			    <img src="assets/images/icon_buy.png" />Go Office Store</a>
		    </p>
		</div>
	    </div>
	    <div class="col-md-6 hidden-xs hidden-sm">
		<div class="banner-right">
		    <img alt="SharePoint Field" src="assets/images/excelimport/banner.png" class="img-responsive" />
		</div>
	    </div>
	</div>
    </div>
</div>
