<div class="footer">
        <div class="footer_one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 col-md-4">
                        <div class="footer_one_01">
                            <img src="assets/images/logo_footer.png" class="img-responsive" />
                            <div class="footer_message">
                                <p><span class="glyphicon glyphicon-envelope"></span>
                                  <a href="mailto:sales@bluepowersolutions.com">sales@bluepowersolutions.com</a>  </p>
                                <p><span class="glyphicon glyphicon-envelope"></span>
                                  <a href="mailto:support@bluepowersolutions.com">support@bluepowersolutions.com </a>   </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-2 col-lg-2">
                        <div class="footer_one_02">
                            <dl>
                                <dt>Email Column</dt>
                                <dd><a href="/sharepoint-email-field.html#">Creation</a></dd>
                                <dd><a href="/sharepoint-email-field.html#creation">Settings</a></dd>
                                <dd><a href="/sharepoint-email-field.html#settings">Auto-completion</a></dd>
                                <dd><a href="/sharepoint-email-field.html#validation">Validation</a></dd>
                                <dd><a href="/sharepoint-email-field.html#purchase">Purchase</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-lg-2">
                        <div class="footer_one_02">
                            <dl>
                                <dt>List View Filter</dt>
                                <dd><a href="/sharepoint-list-view-filter.html#productSummary">Text Field</a></dd>
                                <dd><a href="/sharepoint-list-view-filter.html#textField">Numeric Field</a></dd>
                                <dd><a href="/sharepoint-list-view-filter.html#numericField">Date Field</a></dd>
                                <dd><a href="/sharepoint-list-view-filter.html#purchase">Purchase</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-lg-2">
                        <div class="footer_one_02">
                            <dl>
                                <dt>EMAIL  FIELD</dt>
                                <dd><a href="">Text FieldEMAIL  </a></dd>
                                <dd><a href="">Numeric Field</a></dd>
                                <dd><a href="">Date Field</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-lg-2">
                        <div class="footer_one_02">
                            <dl>
                                <dt>EMAIL  FIELD</dt>
                                <dd><a href="">Text FieldEMAIL  </a></dd>
                                <dd><a href="">Numeric Field</a></dd>
                                <dd><a href="">Date Field</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_tow text-center">
            Copyright Blue Power Solutions© 2014 Privacy Policy Terms and Conditions
        </div>
    </div>
