<div class="footer">
        <div class="footer_one">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <form class="footer_one_02 subscribe" method="POST" action="https://formspree.io/support@bluepowersolutions.com">
                            <dl>
                                <dt>Newsletter</dt>
                                <dd><p> Subscribe to our newsletter to get news regarding products, releases, updates, discounts and more. </p></dd>
                                <dd> <input type="email"  name="_subscribe"/> </dd>
                                <dd><input type="submit" value="Subscribe"/></dd>
                            </dl>
                        </form>
                    </div>
                    <div class="col-xs-12 col-md-2 col-lg-2">
                        <div class="footer_one_02">
                            <dl>
                                <dt>Products</dt>
                                <dd><a href="/sharepoint-email-field.html">Email Column</a></dd>
                                <dd><a href="/sharepoint-list-view-filter.html">List View Filter</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 col-lg-2">
                        <div class="footer_one_02">
                            <dl>
                                <dt>Company</dt>
                                <dd><a href="/sharepoint-bluepower-about.html">About Us</a></dd>
                                <dd><a href="/sharepoint-bluepower-support.html">Support</a></dd>
                                <dd><a href="/privacypolicy.html">Privacy Policy</a></dd>
                            </dl>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-3 col-md-3">
                        <div class="footer_one_01">
                            <img src="assets/images/logo_footer.png" class="img-responsive" />
                            <div class="footer_message">
                                <p><span class="glyphicon glyphicon-envelope"></span>
                                  <a href="mailto:sales@bluepowersolutions.com">sales@bluepowersolutions.com</a>  </p>
                                <p><span class="glyphicon glyphicon-envelope"></span>
                                  <a href="mailto:support@bluepowersolutions.com">support@bluepowersolutions.com </a>   </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer_tow text-center">
            Copyright BluePower Solutions© 2015-2016  All Rights Reserved | <a href="/privacypolicy.html">Privacy Policy</a>
        </div>
    </div>
