<nav class="navbar navbar-default header large">
          <div class="container" style="position: relative;">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                      <img src="assets/images/logo.png" class="logo" />
                  </a>
              </div>


              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li  menuItem="emailField" ><a href="sharepoint-email-field.html">EMAIL  FIELD <span class="sr-only">(current)</span></a></li>
                      <li  menuItem="listViewFilter"><a href="sharepoint-list-view-filter.html">LIST  VIEW  FILTER</a></li>
                      <!-- <li><a href="mailto:sales@bluepowersolutions.com">
                          <img src="assets/images/icon_top_message.png" />
                      </a></li> -->
                  </ul>


              </div>

          </div>

</nav>
