<header id="header" class="clearfix" role="banner">
    <div id="logo">
        <img src="assets/images/bluepowerlogo.jpg" style="width:300px" alt="Blue Power Solutions" />
    </div>
    <nav id="mainnav" role="navigation">
        <ul id="mainnav-menu" class="menu">
            <li menuItem="home" class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="index.html">Home</a>
            </li>
           <li  menuItem="emailField" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-14">
                <a href="sharepoint-email-field.html">Email Field</a>
            </li>
            <li menuItem="listViewFilter" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-14">
                 <a href="sharepoint-list-view-filter.html">List View Filter</a>
             </li>
             <li  menuItem="support" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
               <a href='sharepoint-bluepower-support.html'>Support</a>
             </li>
            <li  menuItem="about" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-14">
                <a href='sharepoint-bluepower-about.html'>About Us</a>
            </li>
        </ul>
    </nav>
</header>
