<div class="banner-container"  style="background:url(assets/images/listfilter/bannerbackground.png);">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 col-xs-12 col-sm-12">
		<div class="banner-left">
		    <h2>
			SharePoint List View Filter
		    </h2>
		    <p class="lead">
			With Powerful filters and multiple conditions, this product can help get the list items you want intuitively!
		    </p>
		    <p>
			<a  href="sharepoint-list-view-filter.html" class="btn ">
			    <span class="glyphicon glyphicon-menu-right"></span>Learn More</a>
			<a  target="_blank" href="download.html?installer=ListViewFilter1.1.325.0.zip" class="btn btn-right">
			    Free Trial</a>
		    </p>
		</div>
	    </div>
	    <div class="col-md-6 hidden-xs hidden-sm">
		<div class="banner-right">
		    <img alt="sharepoint web parts" src="assets/images/listfilter/banner.png" class="img-responsive" />
		</div>
	    </div>
	</div>
    </div>
</div>
