<div class="banner-container"  style="background:url(assets/images/banner01.jpg);">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 col-xs-12">
		<div class="banner-left">
		    <H2>SharePoint Email Column</H2>
		    <p class="lead">
			As an administrator, you can create an email column much easier now!
		    </p>
		    <p>
			<a class="btn" href="sharepoint-email-field.html">
			    <span class="glyphicon glyphicon-menu-right"></span>
			    Learn More</a>
			<a class="btn btn-right" href="download.html?installer=EmailField1.1.1.0.zip">
			    <img src="assets/images/icon_download.png" alt="free trial" />
			    Free Trial</a>
		    </p>
		</div>
	    </div>
	    <div class="col-md-6 hidden-xs hidden-sm">
		<div class="banner-right">
		    <img alt="sharepoint 2016 add ons" src="assets/images/emailfield/banner.png" class="img-responsive" />
		</div>
	    </div>
	</div>
    </div>
</div>
