<img src="assets/images/banner01.jpg" style="min-height:250px; margin:0 -100%;"/>
<div class="carousel-caption">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="padding-top:0.32rem;">
            <div class="banner-left">
		<H2>SharePoint Email Column</H2>
                <p class="lead">
		As an administrator, you can create an email column much easier now!
                </p>
		<p>
		    <a class="btn" href="sharepoint-email-field.html">
			<span class="glyphicon glyphicon-menu-right"></span>
			Learn More</a>
		    <a class="btn btn-right" href="download.html?installer=EmailField1.1.1.0.zip">
			<img src="assets/images/icon_b01.png" alt="free trial" />
			Free Trial</a>
		</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 xs_none">
            <div class="banner-right">
                <img src="assets/images/banner_01pic01.png" style="width:3.61rem;max-width: inherit;margin-left:2rem;"  class="img-responsive" />
            </div>
        </div>
    </div>
</div>
