<img src="assets/images/listfilter/bannerbackground.png" />
<div class="carousel-caption">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12"  style="padding-top:0.32rem;">
            <div class="banner-left">
		<h2>
		    SharePoint List View Filter
		</h2>
		<p class="lead">
		    With Powerful filters and multiple conditions, this product can help get the list items you want intuitively!
		</p>
                <p>
                    <a  target="_blank" class="btn" href="download.html?installer=ListViewFilter1.1.325.0.zip" class="btn">
                        <img src="assets/images/icon_b01.png" />Download</a>
                    <a  href="/sharepoint-list-view-filter.html#purchase" class="btn btn-right">
                        <img src="assets/images/icon_b02.png" />Buy Now</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6  xs_none">
            <div class="banner-right">
                <img src="assets/images/listfilter/logo.png" style="max-width: inherit;" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
