<img src="assets/images/listfilter/bannerbackground.png" />
<div class="carousel-caption">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12"  style="padding-top:0.5rem;">
            <div class="banner01_left">
                <div class="img_tips" style="margin-left: -15px;">
                  <img src="assets/images/listfilter/text.png" class="img-responsive" />
                </div>
                <p>
                    <a  target="_blank" href="download.html?installer=ListViewFilter1.1.325.0.zip" class="btn btn_free ">
                        <img src="assets/images/icon_b01.png" />Download</a>
                    <a  href="/sharepoint-list-view-filter.html#purchase" class="btn btn_buy ">
                        <img src="assets/images/icon_b02.png" />Buy Now</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6  xs_none">
            <div class="banner01_right">
                <img src="assets/images/listfilter/logo.png" style="width:7.24rem;max-width: inherit;" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
