---
layout: default
---

<div class="nav_mbx">
  <div class="container">
    Your location：<a href="/">Home</a> <span>-> Privacy Policy</span>
  </div>
</div>
<div id="onePageBody" class="normal-page">
  <div class="container">
    <article class="web-info-article">
      <header class="article-header">
        <h1 class="article-title"> {{page.title}}</h1>
      </header>
      <div class="article-content" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
  </div>
</div>